{% extends "stockpaire/main.html" %}
{% block Accueil %}
Accueil
{% endblock %}
{% block content %}

<h1> Bienvenue voici quelques paires</h1>
    <h2>Si vous voulez vous pouvez essayer d'en ajouter </h2>

<table>
    {% for l in liste %}
    <tr class="tableau"><td>{{l}}</td>
        <td><a href="/stockpaire/delete/{{l.id}}">Supprimer</a></td>
        <td><a href="/stockpaire/update/{{l.id}}">Update</a></td>
        <td><a href="/stockpaire/affiche/{{l.id}}">Affiche</a></td>
    </tr>
    {%endfor%}
</table>
<br>
<table>
    {% for i in liste1 %}
    <tr class="tableau"><td>{{i}}</td>
        <td><a href="/stockpaire/deletev/{{i.id}}">Supprimer</a></td>
         <td><a href="/stockpaire/updateville/{{i.id}}">Update</a></td>
        <td><a href="/stockpaire/afficheville/{{i.id}}">Affiche</a></td>
    </tr>
    {%endfor%}
</table>

{% endblock %}
