
body {
margin: 0px;
padding:0px;
background: grey;
color: white;
    font-family: 'Montserrat', sans-serif;
}

a:link
{
    font-weight: bold;
 text-decoration:none;
}
.p1 {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.titre1 {
    text-decoration: underline;
    color: beige;
    text-align: center;
    border-style: dashed;
    border-color: beige;
    border: azure;
}

p {
    margin-left:10px ;
}
nav {
padding: 10px;
background: white;
}

.nav2 {
margin-right: 20px;
}

.nav1 {
margin-right: 20px;
}

form {
padding: 20px;
}